<template>
  <section class="h-80v my-5 md:flex items-center lg:px-8 xl:px-12">
    <div class="mx-5 my-3 md:w-5/12">
      <h1 class="text-primary text-4xl md:text-5xl">
        Meet Our Ambitious Counsellors
      </h1>
      <p class="text-green mt-3 md:text-lg lg:text-xl  md:leading-6">
        At Confidous, we connect you with highly ambitious and passionate
        specialists to make sure you are absolutely fine.
      </p>
      <nuxt-link to="/contact">
        <button
          class="button-style mt-5 mb-4 w-10/12 sm:w-3/5 md:w-4/5 lg:w-3/4 text-2xl lg:text-3xl"
        >
          View Counsellors
        </button>
      </nuxt-link>
    </div>
    <div class="h-80v relative md:w-7/12 overflow-x-hidden overflow-y-hidden">
      <div class="flex justify-center items-center center-hv w-full">
        <div class="h-8 w-8 animation-pulse relative bg-accent rounded-full">
          <div
            class="rounded-full absolute bg-secondary overflow-hidden anim-rotation-1 h-10 w-10"
          >
            <img
              src="~/assets/static/aakriti-therapist.jpg"
              class="object-cover h-full w-full"
              alt=""
            />
          </div>

          <div
            class="rounded-full absolute bg-secondary overflow-hidden anim-rotation-3 h-10 w-10"
          >
            <img
              src="~/assets/static/swetha-therapist.jpeg"
              class="object-cover h-full w-full"
              alt=""
            />
          </div>
          <div
            class="rounded-full absolute bg-secondary overflow-hidden anim-rotation-4 h-10 w-10"
          >
            <img
              src="~/assets/static/puja-therapist.jpg"
              class="object-cover h-full w-full"
              alt=""
            />
          </div>
          <div
            class="rounded-full absolute xs-none bg-secondary overflow-hidden anim-rotation-5 h-10 w-10"
          >
            <img
              src="~/assets/static/manisha-therapist.jpeg"
              class="object-cover h-full w-full"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>


<style lang="scss">
@media screen and (max-width: 400px) {
  .xs-none {
    display: none;
  }
}
</style>