<template>
    <footer class="bg-primary py-5 px-5 md:px-10 lg:px-14 xl:px-20">
     <div class="sm:flex justify-between">
      <div class="mb-5">
        <nuxt-link to="/">
        <img class="h-10" src="@/assets/static/logo-confidous.jpg" alt="">
        </nuxt-link>
      </div>
      <ul>
        <li>
          <nuxt-link to="/faq" active-class="text-secondary"> FAQ </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/about" active-class="text-secondary"> About </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/therapists" active-class="text-secondary"> Therapists </nuxt-link>
        </li>
      </ul>
      
      <ul class="md:border-l-2 md:pl-12 md:border-secondary">
        <li>services</li>
        <li>Privacy Policy</li>
        <li>Terms and conditions</li>
      </ul>
      <div class="md:border-l-2 md:pl-12 md:border-secondary">
        <h4>contact us</h4>
        <p class="mt-4 mb-1">youremail@gmail.com</p>
        <p>+91 9785684387</p>
      </div>
     </div>
     <p class="mt-4 sm:text-center text-secondary uppercase">&copy; 2021 CONFIDOUS</p>
    </footer>
</template>