<template>
  <nav
    class="w-full mb-12 z-10000 fixed flex items-center justify-between px-5 md:px-8 py-3 bg-primary"
  >
    <div>
      <nuxt-link to="/">
        <img class="h-6" src="@/assets/static/logo-confidous.jpg" alt="" />
      </nuxt-link>
    </div>
    <ul class="flex small-none text-white">
      <li>
        <nuxt-link to="/therapists" active-class="text-secondary border-b border-secondary pb-2"> Therapists </nuxt-link>
      </li>
      <li>
        <nuxt-link prefetch to="/about" active-class="text-secondary border-b border-secondary pb-2"> About </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/faq" active-class="text-secondary border-b border-secondary pb-2"> FAQ </nuxt-link>
      </li>
      <li>More</li>
    </ul>

    <transition @enter="enterAnim" @leave="leaveAnim">
      <ul
        v-if="showNavItems"
        class="origin-top transition-nav fixed z-30 text-white top-14 bg-dark w-full flex flex-col justify-around px-6 text-xl left-0 h-2/3"
      >
        <li @click="showNavItems = !showNavItems">
             <nuxt-link to="/therapists" active-class="text-secondary border-b border-secondary pb-2"> Therapists </nuxt-link>
        </li>
        <li @click="showNavItems = !showNavItems">
             <nuxt-link prefetch to="/about" active-class="text-secondary border-b border-secondary pb-2"> About </nuxt-link>
        </li>
        <li @click="showNavItems = !showNavItems">
             <nuxt-link to="/faq" active-class="text-secondary border-b border-secondary pb-2"> FAQ </nuxt-link>
        </li>
        
      </ul>
    </transition>

    <div class="flex items-center justify-end">
      <nuxt-link to="/contact">
        <button class="bg-accent text-white rounded-lg px-5 py-2 text-lg font-medium">Contact</button>
      </nuxt-link>

      <div
        @click="showNavItems = !showNavItems"
        class="h-6 cursor-pointer w-6 ml-6 big-none"
      >
        <svg
          v-if="showNavItems"
          class="w-6 h-6"
          fill="none"
          stroke="white"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
        <svg
          v-else
          class="w-6 h-6"
          fill="none"
          stroke="white"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          ></path>
        </svg>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      showNavItems: false,
    };
  },
  methods: {
    enterAnim(el, done) {
      if (!process.client) return;
      const tl = this.$gsap.timeline();
      tl.fromTo(
        el,
        {
          height: 0,
          duration: 0.35,
          // ease: 'bounce.easeInOut',
        },
        {
          height: "80vh",
        }
      ).fromTo(
        ".transition-nav li",
        {
          opacity: 0,
          duration: 0.25,
          stagger: 0.1,
        },
        {
          opacity: 1,
        }
      );
      done();
    },
    leaveAnim(el, done) {
      if (!process.client) return;
      const tl = this.$gsap.timeline();
      tl.to(".transition-nav li", {
        opacity: 0,
        duration: 0.25,
        stagger: 0.1,
      }).to(el, {
        height: 0,
        duration: 0.35,
        // ease: 'bounce.easeInOut',
        onComplete: () => {
          done();
        },
      });
    },
  },
};
</script>
 
 <style lang="scss" scoped>
 nav ul li.nuxt-link-active{
   @apply text-secondary border-b border-secondary pb-2;
 }
 </style>