<template>
  <div class="fixed z-1000 bottom-6 w-full right-6 flex flex-col items-end">
    <div class="fixed text-xl px-6 py-2 text-green-700 bg-green-200 rounded-full top-10 left-1/2 transform -translate-x-1/2" v-if="alertMsg.length > 0 && showAlert">{{alertMsg}} </div>
    <transition name="scaleUp">
      <form
       v-on-clickaway="away"
        class="bg-white rounded-lg py-6 px-4 md:px-7 w-10/12 sm:w-8/12 md:w-6/12 mb-6 origin-bottom-right"
        v-if="showForm"
        @submit.prevent=""
        action=""
      >
        <h2 class="text-3xl font-dilan text-primary">
          Join our newsletter and get mind blowing tips for your mindfulness
        </h2>
        <div class="w-24 h-1 bg-accent mt-3 mb-6"></div>
        <div class="form-field">
          <label for="name">Name</label>
          <input 
           :class="{ error: $v.form.name.$invalid && form.name != null }"
          v-model="form.name" type="text" id="name" placeholder="Enter your name" />
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <input 
          :class="{ error: $v.form.email.$invalid && form.email != null }"
          v-model="form.email" type="email" id="email" placeholder="Enter your e-mail" />
        </div>
        <button
        :class="{'pointer-events-none opacity-40': $v.form.$invalid}"
        @click="signup"
          class="uppercase text-white rounded-lg bg-accent px-5 py-2 text-xl"
        >
          subscribe
        </button>
      </form>
    </transition>
    <button
      @click="showForm = !showForm"
      class=" p-3 rounded-full text-white w-16 h-16 flex justify-center items-center"
    :class="{' bg-green-700 pointer-events-none': alertMsg.length > 0, 'bg-accent': alertMsg.length == 0}"
    >
      <svg
        class="w-8 h-8"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
        ></path>
      </svg>
    </button>
  </div>
</template>

<script>
import { required, minLength, email } from "vuelidate/lib/validators";
import { mixin as clickaway } from 'vue-clickaway';

export default {
  mixins: [ clickaway ],
  data() {
    return {
      showForm: false,
      alertMsg: '',
      showAlert: false,
      form: {
        name: null,
        email: null,
      }
    };
  },
  validations() {
    return {
      form: {
        name: {
          required,
          minLength: minLength(6),
        },
        email: {
          required,
          email,
        },
      },
    };
  },
  watch: {
    showAlert(val) {
      if(val){
        setTimeout(() => {
          this.showAlert = false;
        }, 2500);
      }
    }
  },
  methods: {
    away(){
      this.showForm = false;
    },
    async signup() {
      try {
        const response = await this.$axios.post("newsletter/signup", {
          form: this.form
        });

        console.log(response);

        this.alertMsg = response.data.msg;
        this.showAlert = true;
        this.showForm = false;
      } catch (error) {
        console.log(error);
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.scaleUp-enter-active,
.scaleUp-leave-active {
  transition: all 0.26s ease;
}
.scaleUp-enter,
.scaleUp-leave-to {
  transform: scale(0);
 opacity: 0;
}

form {
  .form-field {
    @apply w-full lg:w-8/12 mb-5;
    label {
      @apply text-lg mb-2;
    }
    input,
    textarea {
      outline: none;
      &.error {
        @apply border-red-600;
        animation: shake 0.2s ease-in-out;
      }
      @apply bg-gray-200 border border-black w-full rounded-lg px-5 py-3;
      &::placeholder {
        @apply text-gray-500;
      }
      &:focus {
        @apply border-b-2;
      }
    }
  }
}
.z-1000 {
  z-index: 100000;
}


</style>