<template>
    <div v-if="!isLoaded">
        Loading....
    </div>
</template>

<script>
export default {
 data() {
     return {
         isLoaded: false
     }
 },   
 mounted () {
     if(!process.client) return;
     document.body.style.overflowY = "hidden"
     document.onreadystatechange = () =>{
         if(document.readyState == "complete"){

             this.isLoaded = true;
             document.body.style.overflowY = "scroll"
         }
     }
 }, 
}
</script>

<style lang="scss" scoped>
div{
    z-index: 1000000;
    @apply fixed top-0 flex w-full bg-dark text-mildwhite h-screen justify-center items-center text-4xl;
}
</style>