<template>
  <section
    class="h-90v w-full px-2 xs:px-6 sm:px-8 md:px-12 lg:px-16 xl:px-24 my-10 gap-6 grid grid-cols-1 sm:grid-cols-12 place-items-center"
  >
    <div class="to-large-none h-10 sm:col-span-1 w-full"></div>
    <div class="px-2 sm:px-0 w-full sm:col-span-5 xl:col-span-4">
      <div
        @mousemove="moveblur"
        class="h-80 w-full md:-mb-0 rounded-outline max-w-xs mx-auto rounded-full rounded-b-none md:h-96 overflow-hidden relative hue-change"
      >
        <div class="absolute h-full w-full bg-accent multiply"></div>
        <div
          :style="{ top: yBlur + 'px', left: xBlur + 'px' }"
          class="absolute w-10 h-10 rounded-full bg-secondary blur"
        ></div>
        <img
          class="h-full w-full object-cover"
          src="~/assets/static/section-2.jpg"
          alt=""
        />
      </div>
    </div>

    <!-- <div class="h-1/2 w-1/2 bg-secondary"></div> -->
    <div class="mx-5 mt-3 sm:col-span-7 xl:col-span-6">
      <h1 class="text-primary">
        We care about <span class="font-dilan text-accent">YOU</span> and your
        mental health
      </h1>
      <div class="text-green leading-5 mt-4 md:text-lg md:leading-6">
        <p>
          You might have tried talking to your friends or a relative. And that
          is a great step towards a better mental health.
        </p>
        <p>
          But do you still feel low? Are you still unaware of what is happening?
          If yes, then you need professional rescue to escape any biased or
          adaptive solutions of your close ones. And we, at Confidous do exactly
          that.
        </p>
        <!-- You might have tried talking to your friends or a relative. And that is
        a great step towards better mental health. But do you still feel low?
        Are you still unaware of what is happening? Then you need professional
        rescue to escape any biased or adaptive solutions of your close ones.
        And we, at Confidous do exactly that -->
      </div>
      <nuxt-link to="/therapists">
        <!-- w-full xs:w-4/5 sm:w-3/5 md:w-4/5 lg:w-3/5 xl:w-36 -->
        <button class="button-style mt-5 mb-4 w-9/12 lg:w-2/3 text-2xl lg:text-3xl">
          Start Counselling
        </button>
      </nuxt-link>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      xBlur: 0,
      yBlur: 0,
    };
  },

  methods: {
    moveblur(e) {
      this.xBlur = e.clientX;
      this.yBlur = e.clientY - 100;
    },
  },
};
</script>

<style lang="scss">
.blur {
  filter: blur(45px);
}
.clamp-img {
  width: clamp(2.5rem, 2.5vw, 1.5rem);
  height: clamp(2.5rem, 2.5vw, 1.5rem);
} 
.multiply {
  mix-blend-mode: multiply;
  opacity: 0.5;
}
.rounded-outline {
  // outline: 2px solid black;
  // outline-offset: 2px;
  // $j: 0;
  // @for $i from 1 through 8{
  //   $j: $i;
  //   box-shadow:  $i+px $i+px rgba(241, 106, 41, 1);
  // }
  box-shadow: 1px 1px rgba(241, 106, 41, 1), 2px 2px rgba(241, 106, 41, 1),
    3px 3px rgba(241, 106, 41, 1), 4px 4px rgba(241, 106, 41, 1),
    5px 5px rgba(241, 106, 41, 1), 6px 6px rgba(241, 106, 41, 1),
    7px 7px rgba(241, 106, 41, 1), 8px 8px rgba(241, 106, 41, 1),
    9px 9px rgba(241, 106, 41, 1), 10px 10px rgba(241, 106, 41, 1),
    11px 11px rgba(241, 106, 41, 1);
}
.to-large-none {
  display: none;
}
@media screen and (min-width: 1280px) {
  .to-large-none {
    display: block;
  }
}
</style>