<template>
  <section class="my-6 px-2 md:px-6">
    <h1 class="mb-3 text-primary mx-4">Want to know how can we help you</h1>
    <div v-for="service in services" :key="service.id" class="mb-4">
      <div class="md:flex items-center md:mt-10 md:mx-8">
        <div
          class="image-container md:order-2 rounded-outline mx-4 md:mx-0 md:transform md:-translate-x-16"
        >
          <div class="overlay multiply"></div>

          <img :src="service.image" alt="" />
        </div>
        <div class="text-container">
          <div class="md:w-10/12 min-h-48 md:flex md:flex-col justify-between">
            <div>
              <h1>{{ service.title }}</h1>
              <div class="rect"></div>
              <div v-html="service.para"></div>
            </div>
            <div>
              <nuxt-link to="contact"><button class="learn-more mt-3">Book Now</button></nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      services: [
        {
          image: require("~/assets/static/services/onetoone.jpg"),
          title: "One on One Counselling",
          para: `<p class="mb-2">
              <b>Confidous</b> came to life with the aim of healing and
              transforming the mental health of EVERY beautiful soul out there.
            </p>
            <p>
              Hence, one of the major priorities here is individual counselling.
              It not only helps in connecting on a deeper level with every
              individual but also helps in understanding the problem more
              efficiently and figuring out a solution more effectively. We are
              very glad to inform that all of our specialists excel in the same.
            </p>`,
        },
        {
          image: require("~/assets/static/services/workshop1.jpg"),
          title:
            "Workshops and Webinars for various institutions and organizations",
          para: `<p>
              A big chunk of youth is not aware of problems related to mental health. And if you are not aware
of something, how would you know that you are actually going through it? How would you solve
the problem if you don't know the problem?
            </p>
            <p>
             Ignorance gets heavier day by day and we all see the very dull side of it daily through news
portals. Hence, we also bring the service of workshops and webinars for various institutions
starting from schools to colleges and the corporate world as well. You can reach out to us and
have a beautifully calm and healthier environment in your arena.
            </p>`,
        },
        {
          image: require("~/assets/static/services/workshop1.jpg"),
          title:
            "Awareness Sessions",
          para: `<p>
              We understand it's important to raise at least basic awareness in the society. Hereby, we also
conduct free of cost sessions on our Instagram handle which is <a class="border-b border-primary" target="blank" href="https://www.instagram.com">@confidous</a>. We provide
freebies for which you can subscribe by clicking here. 
            </p>
            <p>
            We also take pride in informing that we
provide free valuable and quality podcasts on Spotify. And we regularly post tips for having
great mental health on all our social media platforms - <a href="">LinkedIn</a>, <a href="">Facebook</a>, Twitter, YouTube
and Instagram.
            </p>`,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.min-h-48 {
  min-height: 26rem;
}
.image-container {
  @apply h-72 w-full md:-mb-0 max-w-xs mx-auto rounded-full rounded-b-none md:h-96 overflow-hidden relative;
  .overlay {
    @apply absolute h-full w-full bg-accent;
  }
  img {
    @apply h-full w-full object-cover;
  }
}
.text-container {
  @apply -mt-4 md:mt-0 rounded-xl pt-12 md:pt-8 bg-mildwhite bg-opacity-40 px-4 md:px-12 pb-6 md:pb-8;
  h1 {
    @apply text-3xl mb-3 text-accent;
  }
  div {
    @apply text-lg text-dark;
      .link{
        @apply border-b-2 border-blue-50;
      }
    p {
      @apply mt-4;
      a{
        border: 1px solid black !important;
      }
    }
  }
  .rect {
    @apply h-1 w-20 bg-accent my-3;
  }
}

</style>