<template>
  <section class="py-4">
    <h1 class="text-primary mx-5 lg:mx-14">What our clients say about us</h1>
    <div
    data-scroll
      class="mt-6 md:pl-16 place-items-center md:place-items-start lg:pl-20 xl:pl-28 bg-dark relative md:ml-auto md:w-10/12 py-4 px-5 grid-area"
    >
      <div
        class="h-24 w-24 sm:h-36 sm:w-36 rounded-full overflow-hidden md:overflow-auto md:rounded-none md:absolute md:-left-36 bottom-0 md:h-48 md:w-44"
      >
        <img
          class="object-cover relative z-20 h-full w-full"
          :src="testimonials[currentTestimonial].image"
          alt=""
        />
        <div
          class="absolute xs-none z-30 top-0 transform scale-x-0 origin-right test-img h-full w-full bg-dark"
        ></div>
      </div>
      <ul class="text-mildwhite ml-5 flex flex-col justify-center">
        <li
          class="relative flex items-center cursor-pointer"
          v-for="(testimonial, index) in testimonials"
          :key="index"
          @click="changeTestimonial(index)"
          :class="[currentTestimonial != index ? 'opacity-30' : 'opacity-100']"
        >
          <div class="w-8 relative h-px mr-4 bg-white">
            <div
              v-if="currentTestimonial == index"
              class="absolute left-0 bg-secondary h-full"
              :style="{ width: runnedTime + '%' }"
            ></div>
          </div>
          <span>{{ testimonial.name }}</span>
          
        </li>
      </ul>

      <p class="text-mildwhite paragraph text-lg">
        {{ testimonials[currentTestimonial].review }}
      </p>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      currentTestimonial: 0,
      runnedTime: 0,
      runInterval: null,
      gsap: null,
      testimonials: [
        {
          name: "Tirth Shah",
          image: require("~/assets/static/testimonial-1.jpeg"),
          review:
            "I came across 'Confidous' through a friend of mine and I was not sure about the services. But I chose to go further anyway. And today, I am glad I took that step. A meeting with a counsellor was arranged immediately after I reached out and I was made comfortable since the very beginning of it. Thanks to each and every lovely soul here who stood with me till I felt better. ",
        },
        {
          name: "Khushi Patel",
          image: require("~/assets/static/swetha-therapist.jpeg"),
          review:
            "My months of confusion about whether anyone would really understand me or not, got ended at the very first meeting with the counsellor here. I appreciate 'Confidous' for providing a platform that helps people connect with understanding and well experienced counsellors. They helped me gain my confidence back and resultantly I started progressing again.",
        },
        {
          name: "Abhimanyu Singh",
          image: require("~/assets/static/aakriti-therapist.jpg"),
          review:
            "I never thought believing in myself would be so simple and easy. I absolutely love how 'Confidous' considers every single word of an individual highly and helps accordingly while being totally aesthetic and empathetic.  ",
        },
      ],
    };
  },
  created() {

    this.calcTime();
  },
  methods: {
    calcTime() {
      if(!process.client) return;
      const tl = this.$gsap.timeline();

      this.runInterval = setInterval(() => {
        if (this.runnedTime < 100) {
          this.runnedTime += 1;
          return;
        }
        clearInterval(this.runInterval);
        tl.to(".paragraph", {
          opacity: 0,
          duration: 0.5,
        }).to(
          ".test-img",
          {
            scaleX: 1.25,
            duration: 0.25,
          },
          "-=.5"
        );
        setTimeout(() => {
          this.runnedTime = 0;
          this.currentTestimonial += 1;
          if (this.currentTestimonial >= this.testimonials.length) {
            this.currentTestimonial = 0;
          }
          this.calcTime();
        }, 250);

        tl.to(".paragraph", {
          opacity: 1,
          duration: 0.5,
        }).to(
          ".test-img",
          {
            scaleX: 0,
            duration: 0.5,
          },
          "-=.5"
        );
      }, 150);
    },
    changeTestimonial(index) {
      clearInterval(this.runInterval);
      this.runnedTime = 0;
      this.currentTestimonial = index;
      this.calcTime();
    },
  },
};
</script>
