.vdp-datepicker__calendar {
    outline: none;
  @apply text-lg p-2;
}
.vdp-datepicker__calendar .cell:not(.month):not(.year) {
  @apply rounded-full;
}

.vdp-datepicker__calendar .cell.selected {
  @apply bg-accent;
}
#layout > div > div > div.fixed.p-8.z-50.top-1\/2.left-1\/2.w-9\/12.transform.-translate-x-1\/2.-translate-y-1\/2.bg-white > div > div.vdp-datepicker.datepicker > div:nth-child(1) > input[type=text]{
  padding: 1rem;
  border: 1px solid black;
}

/* 
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: #fff;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  padding: 1.25em 2em;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  font-weight: 700;
  color: #382b22;
  text-transform: uppercase;
  background: #fff0f0;
  transform-style: preserve-3d;
  transition: .15s cubic-bezier(0, 0, .6, 1);
}

button.learn-more::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #f9c4d2;
  box-shadow: 0 0 0 2px #b18597, 0 .625em 0 0 #ffe3e2;
  transform: translate3d(0, .75em, -1em);
  transition: .15s cubic-bezier(0, 0, .6, 1);
}

button.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, .25em);
}

button.learn-more:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 .5em 0 0 #ffe3e2;
  transform: translate3d(0, .5em, -1em);
}

button.learn-more:active {
  background: #ffe9e9;
  transform: translate(0, .75em);
}

button.learn-more:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
} */