@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans - Medium";
  src: url("../fonts/DMSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans - Bold";
  src: url("../fonts/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Dilan";
  src: url("../fonts/MADE-Dillan.otf") format("opentype");
}

@font-face {
  font-family: "Sporting";
  src: url("../fonts/SportingGrotesque-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/Circular-Std.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.ttf") format("truetype");
}

.font-dilan {
  font-family: "Rubik", "Ubuntu", "Montserrat";
}

h1 {
  font-family: "Rubik", "Ubuntu", "Montserrat";
  font-size: 2.75rem;
  line-height: 2.5rem;
}

.font-medium {
  font-family: "DM Sans - Medium";
  font-weight: 550;
}
.font-dm-medium {
  font-family: "DM Sans - Bold";
  font-weight: 550;
}

.font-dm-bold,
.button-style {
  font-family: "DM Sans - Bold";
  font-weight: 700;
}

* {
  font-family: "DM Sans";
}


.nuxt-link-prefetched{
  position: relative;
}

.nuxt-link-prefetched::before{
  position: absolute;
  content: 'pre- ';
  z-index: 5000000;
  top: -1rem;
  left: -1.5rem;
@apply text-accent uppercase;
}