@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.big-none {
  display: block;
}
.small-none {
  display: none;
}

button {
  outline: none;
  outline-width: 0;
  outline-style: none;
}

@media screen and (min-width: 700px) {
  .big-none {
    display: none;
  }
  .small-none {
    display: flex;
  }
}


:root {
  --rotation-1: 175%;
  --rotation-2: 200%;
  --rotation-3: 300%;
  --rotation-4: 400%;
  --rotation-5: 500%;
}

nav ul li {
  text-transform: uppercase;
  margin: 0 1rem;
}

.z-10000 {
  z-index: 10000;
}



.stroke-blur {
  height: 60%;
  width: 60%;

  filter: blur(25px);
}
.blur-back::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  filter: blur(20px);
  @apply bg-accent rounded-full;
}



.text-mildwhite {
  color: #cae3d5;
}
.text-green {
  color: #162c27;
}
.center-hv {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.anim-rotation-1 {
  transform: rotate(45deg) translateX(var(--rotation-1)) rotate(-45deg);
  animation: round-1 4s linear infinite;
}

.anim-rotation-2 {
  transform: rotate(45deg) translateX(var(--rotation-2)) rotate(-45deg);
  animation: round-2 4s linear infinite;
  animation-delay: 2s;
}
.anim-rotation-3 {
  transform: rotate(250deg) translateX(var(--rotation-3)) rotate(-250deg);
  animation: round-3 5s linear infinite;
  animation-delay: 1.4s;
}
.anim-rotation-4 {
  transform: rotate(175deg) translateX(var(--rotation-4)) rotate(-175deg);
  animation: round-4 7.5s linear infinite;
  animation-delay: 2s;
}
.anim-rotation-5 {
  transform: rotate(60deg) translateX(var(--rotation-5)) rotate(-60deg);
  animation: round-5 8s linear infinite;
  animation-delay: 1.2s;
}

@keyframes round-1 {
  from {
    transform: rotate(0deg) translateX(var(--rotation-1)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(var(--rotation-1)) rotate(-360deg);
  }
}

@keyframes round-2 {
  from {
    transform: rotate(0deg) translateX(var(--rotation-2)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(var(--rotation-2)) rotate(-360deg);
  }
}
@keyframes round-3 {
  from {
    transform: rotate(0deg) translateX(var(--rotation-3)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(var(--rotation-3)) rotate(-360deg);
  }
}
@keyframes round-4 {
  from {
    transform: rotate(0deg) translateX(var(--rotation-4)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(var(--rotation-4)) rotate(-360deg);
  }
}
@keyframes round-5 {
  from {
    transform: rotate(0deg) translateX(var(--rotation-5)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(var(--rotation-5)) rotate(-360deg);
  }
}

.h-80v {
  min-height: 80vh;
}

.h-90v {
  min-height: 90vh;
}

.animation-pulse::after,
.animation-pulse::before {
  position: absolute;
  content: "";
  height: 120%;
  width: 120%;
  top: 50%;
  left: 50%;
  filter: blur(0.25px);
  transform: translate(-50%, -50%);
  animation: anim-pulse 1.5s linear infinite;
  z-index: -10;
  opacity: 1;
  @apply bg-mildwhite rounded-full;
}
.animation-pulse::before {
  animation-delay: 0.5s;
}
@keyframes anim-pulse {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(12);
    opacity: 0;
  }
}

.grid-area img {
  grid-area: i;
}
.grid-area p {
  grid-area: p;
}
.grid-area ul {
  grid-area: l;
}
.grid-area {
  display: grid;
  grid-template-rows: minmax(150px, auto);
  grid-template-columns: repeat(3, 33%);
  grid-row-gap: 1.5rem;

  grid-template-areas:
    "i l l"
    "p p p";
}

footer {
  color: white;
}
footer ul,
footer h4 {
  @apply uppercase mt-4 relative;
}
footer ul li {
  @apply mt-1;
}
footer h4::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 70%;
  bottom: 0;
  left: 0;
  @apply bg-secondary;
}

@media screen and (min-width: 600px) {
  /* :root{
      --rotation-1: 75px;
      --rotation-2: 100px;
      --rotation-3: 150px;
      --rotation-4: 200px;
      --rotation-5: 235px;
    } */
}
@media screen and (min-width: 740px) {
  /* :root{
      --rotation-1: 75px;
      --rotation-2: 100px;
      --rotation-3: 150px;
      --rotation-4: 200px;
      --rotation-5: 200%;
    } */
  .h-80v {
    min-height: 70vh;
  }
  .grid-area {
    grid-template-areas:
      "p p p"
      "l l l";
  }
}
