<template>
  <div>
    <PageLoader />
    
    <Navbar />
    <Nuxt />

    <Footer />
    <NewsletterForm />
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Footer from '~/components/Footer.vue'
import NewsletterForm from '~/components/NewsletterForm.vue'
import PageLoader from '~/components/PageLoader.vue'
export default {
  components: {
    Navbar,
    Footer,
    NewsletterForm,
    PageLoader
  },
  data() {
    return {
      skrollr: null
    }
  },
  watch: {
    $route(to, from) {
      console.log(to, from);
      // console.log(document);
        if(process.client){

          document.onreadystatechange = () =>{
           console.log(document.readyState);
       }
        }
      if(to.name == 'therapists'){
      }
    }
  },
  created() {
    if (process.client) {
      // console.log(skrollr);
      // skrollr.init();
      // const skrollr = document.querySelector('#skrollr-body');
      // console.log(skrollr);
      // skrollr.addEventListener('scroll', (e) => {
      //   console.log(e);
      //   e.preventDefault();
      // }, {passive: false});
      
    }
  },
  head() {
    return {
      titleTemplate: "Confidous | %s",
      
    };
  },
}
</script>

<style lang="scss">
button{
  outline: none;
  user-select: none;
  &:focus{
    outline: none;
  }
}

$box-shadow-color: rgba(241, 106, 41, 1);
// $box-shadow-color: #106C5F;

.button-style {
  @apply py-3 text-accent bg-yellow-200 rounded-xl border-accent select-none font-semibold px-5 relative duration-150;
  z-index: 1000;
  border: 2px solid $box-shadow-color !important;
  box-shadow: 1px 1px $box-shadow-color, 2px 2px $box-shadow-color,
    3px 3px $box-shadow-color, 4px 4px $box-shadow-color,
    5px 5px $box-shadow-color, 6px 6px $box-shadow-color,
    7px 7px $box-shadow-color, 8px 8px $box-shadow-color,;
  &:hover{
    transform: translate(0.25rem);
    box-shadow: 1px 1px $box-shadow-color, 2px 2px $box-shadow-color,
    3px 3px $box-shadow-color, 4px 4px $box-shadow-color,
    5px 5px $box-shadow-color, 6px 6px $box-shadow-color,;
  }
  &:active{
    transform: translate(0.35rem);
    box-shadow: 1px 1px $box-shadow-color, 2px 2px $box-shadow-color,
    3px 3px $box-shadow-color, 4px 4px $box-shadow-color,;
  }
}
// .button-style::before,
// .button-style::after {
//   position: absolute;
//   content: "";
//   height: 100%;
//   width: 100%;
//   z-index: -10;
//   @apply duration-150;
// }

// .button-style::after {
//   top: 0;
//   left: 0;
//   box-shadow: 0px 0px black;

//   @apply bg-secondary;
// }
// .button-style::before {
//   top: 0.5rem;
//   left: 0.5rem;
//   background-color: #044334;
// }

// .button-style:hover{
//   transform: translate(0.15rem) scale(0.85);
// }

// .button-style:hover::after {
//   top: 0.15rem;
//   left: 0.15rem;
//   transform: scale(1.15);
//   box-shadow: 2px 2px rgba(227, 186, 38, 0.4),4px 4px rgba(227, 186, 38, 0.6),;
// }

// .button-style:hover::before {
//   transform: scale(1.15);
// }

// .button-style:focus::after{
//   transform: scale(1) rotate(0deg);
// }
// .button-style:focus::before{
//   transform: scale(1) rotate(0deg);
// }

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  border: 2px solid #537d7f;

  font-weight: 700;
  color: #537d7f;

  background: #f7f6f3;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
  @apply px-6 py-2 rounded-lg uppercase;
}

button.learn-more::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #99b7b8;
  // box-shadow: 0 0 0 2px #d9e4e7, 0 0.625em 0 0 #d9e4e7;
  transform: translate3d(0, 0.5em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.learn-more:hover {
  background: #d9e4e7;
  transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
  // box-shadow: 0 0 0 2px #d9e4e7, 0 0.15em 0 0 #d9e4e7;
  transform: translate3d(0, 0.25em, -1em);
}

button.learn-more:active {
  background: #ffe9e9;
  transform: translate(0, 0.5em);
}

button.learn-more:active::before {
  // box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

</style>