<template>
  <div data-smooth-scrolling="on" class="pt-0 md:pt-24 pb-10 lg:px-16">
    <div class="fixed top-16 left-16">{{ skrollr }}</div>
    <!-- <div ref="background-img" :style="backgroundStyle" class="bg-img"></div> -->
    <div class="grid grid-cols-1 md:grid-cols-2">
      <img
        src="~/assets/static/pooja.jpg"
        class="bg-img md:sticky md:top-24"
        alt=""
      />

      <div
        
        class="px-6 xs:px-8 -mt-2"
      >
        <h1 class="text-accent blend-diff">Who are we ?</h1>
        <span class="block h-1 w-24 bg-accent mt-2 mb-6"></span>
        <div class="text-xl  mt-4">
          <p class="blend-diff">
            ‘Confidous’ is an assemblance of highly empathetic mental healers
            and counsellors. A humble start-up of 2020, it is founded by
            <b> Ms. Pooja Sharma </b> with an objective of transforming lives by
            bringing out the best in people through workshops, sessions and
            therapies.
          </p>
          <p>
            What separates 'Confidous' from other mental health organizations is
            it’s hugely caring and concerning services. Our team at ‘Confidous’
            understands the concern of a common man regarding mental health,
            especially the stigma, the charges and the confusion around it.
            Hence, reasonably we focus on breaking the stigma while keeping
            everyone's information confidential, conducting sessions at
            affordable prices and clearing out all the doubts of our lovely
            patients.
          </p>
          <p>
            Our team here consists of top-rated and utmost qualified
            professionals in various fields of psychology and psychiatry. We
            also understand that each and every individual has different coping
            mechanisms. Hence, we provide various kinds of therapies through the
            medium of art as well as other therapies like CBT, REBT and more.
          </p>
        </div>
      </div>
    </div>
    <!-- <div data-100-top="position: sticky; top: 100px; background: black;" data--700-top="position: relative; background: white;" data-20-end="background: white;"> -->
    <div class="min-h-screen">
      <div class="after-lg-none">
        <div
          class="grid gap-8 grid-cols-1 md:grid-cols-2 place-items-center relative live-imgs h-full pt-4"
        >
          <img src="~/assets/static/480p/live-1.jpg" alt="" />
          <img src="~/assets/static/480p/live-2.jpg" alt="" />
          <img src="~/assets/static/480p/live-3.jpg" alt="" />
          <img src="~/assets/static/480p/live-4.jpg" alt="" />
          <img src="~/assets/static/480p/live-5.jpg" alt="" />
        </div>
      </div>

      
        <div class="to-lg-none">
        <div
          data-10-top="left: 85%; bottom: 100%;"
          data--500-top="left: -85%; bottom: 0%;"
          data-smooth-scrolling="true"
          class="-left-12 flex gap-x-14 gap-y-8 relative live-imgs h-full pt-4"
        >
          <img src="~/assets/static/480p/live-1.jpg" alt="" />
          <img src="~/assets/static/480p/live-2.jpg" alt="" />
          <img src="~/assets/static/480p/live-3.jpg" alt="" />
          <img src="~/assets/static/480p/live-4.jpg" alt="" />
          <img src="~/assets/static/480p/live-5.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="grid text-2xl bottom-text place-items-center w-11/12 md:w-8/12 my-10 mx-auto text-center">
      <p>
        Throughout the journey of workshops and sessions, our top priority is
        always the person(s) on the other side and the comfortable healing. We
        humbly aim to break the shame, stigma, or disgrace surrounding the
        subject - 'Mental Health' while creating inspiring and encouraging
        experiences.
      </p>
    </div>
    <nuxt-link to="contact">
      <button class="button-style mt-6 w-10/12 md:w-4/12 grid place-items-center text-3xl mx-auto">Contact Us</button>
    </nuxt-link>

  </div>
</template>

<script>
import {gsap} from 'gsap';
import {ScrollTrigger} from 'gsap/ScrollTrigger';

export default {
  data() {
    return {
      yPos: 40,
      skrollr: null,
    };
  },
  mounted() {
    if (process.client) {
      gsap.registerPlugin(ScrollTrigger);
      gsap.from('.bottom-text', {
        opacity: 0,
        y: '20px',
        scale: 0.35,
        scrollTrigger: {
          trigger: '.bottom-text',
          start: "top 95%",
          scrub: true,
        }
      })
      gsap.set('.to-lg-none > div', {
        xPercent: 85,
      });
      gsap.to('.to-lg-none > div', {
        // x: () => -(document.querySelector('.to-lg-none').scrollWidth - document.documentElement.clientWidth) + 'px',
        // x: '-1000px',
        xPercent: -85,
        duration: 10,
        scrollTrigger: {
          trigger: '.to-lg-none',
          start: "top 20%",
          scrub: true,
          end: "top -30%",
          pin: true,
          // markers: true,
        }
      })
      // console.log(skrollr);
      // this.skrollr = skrollr;
      // skrollr.init().refresh(['#skrollr-body']);
      // skrollr.onreadystatechange = (e) => {
      //   console.log(e);
      //   console.log(this.readyState);
      // }
    }
  },
  head() {
    return {
      title: "About",
      // script: [
      //   {
      //     hid: "skrollr",
      //     src: "/skrollr.min.js",
      //     defer: true,
      //     callback: () => {
      //       this.skrollr = skrollr.init().refresh();

      //     },
      //   },
      // ],
    };
  },
  watch: {
    yPos() {
      if (process.client) {
        window.addEventListener("resize", (e) => {
          if (window.innerWidth > 520) {
            console.log(600);
            this.yPos = 20;
          }
        });
      }
    },
  },
  computed: {
    backgroundStyle() {
      return {
        background: `url(${require("~/assets/static/pooja.jpg")}) 30% -${
          this.yPos
        }% no-repeat`,
        "background-size": "cover",
      };
    },
  },
};
</script>

<style scoped>
p {
  @apply mb-2;
}
.bg-img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  object-position: 10% 2rem;
}
.blend-diff {
  mix-blend-mode: difference;
}
.live-imgs img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.h-two-screen {
  min-height: 200vh;
}
.to-lg-none{
  display: none;
}
.after-lg-none{
  display: block;
}
@media screen and (min-width: 1280px) {
  .to-lg-none{
    display: flex;
  }
  .after-lg-none{
    display: none;
  }
}
</style>