<template>
  <div
    class="pt-24 pb-10 px-10 bg-mildwhite lg:flex gap-x-8"
    :class="{ 'overflow-hidden relative': showPopup }"
  >
    <!-- ALERT MESSAGE -->
    <div
      v-if="alertMsg.length > 0"
      :class="{ 'email-error': !isSucceed }"
      class="fixed top-5 left-1/2 transform -translate-x-1/2 bg-green-200 z-1500 text-green-900 text-xl px-8 py-3 rounded-full"
    >
      {{ alertMsg }}
    </div>

    <!-- THERAPIST ERROR -->
    <div
      v-if="therapistError"
      class="fixed z-50 top-20 rounded-full px-7 py-2 bg-red-200 text-red-600 text-xl"
    >
      <span>Select therapist for consulting to go further</span>
      <span
        @click="selectTherapist"
        class="border-b-2 cursor-pointer border-red-600 pb-2 ml-2"
        >Select Now</span
      >
    </div>

    <!-- OVERLAY -->
    <div
      @click="showPopup = false"
      class="fixed z-1000 top-0 left-0 h-screen w-full bg-black bg-opacity-30"
      v-if="showPopup"
    ></div>

    <!-- NEWSLETTER POPUP -->
    <div
      v-if="showPopup"
      class="px-6 md:px-16 py-4 md:py-12 overflow-y-scroll fixed flex flex-col justify- items-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-1000 w-11/12 lg:w-10/12 h-95v bg-white rounded-lg"
    >
      <div class="mb-6 border-b border-black pb-3 w-full" v-for="data in popupMsgs" :key="data.heading">
        <div class="md:flex gap-6 justify-between items-center w-full">
          <div class="md:w-2/3">
            <h2 class="text-2xl md:text-3xl font-medium font-dilan">{{ data.heading }}</h2>
          <p class="text-base md:text-lg mt-2">{{data.subheading}} </p>
          </div>
          <!-- <div 
          @click="data.checked = !data.checked"
          class="toggle-container">
            <span 
            :style="{'background': data.checked ? ''}"
            class="toggle-switch"></span>
          </div> -->
          <button
            @click="data.checked = !data.checked"
            :class="{
              'bg-accent bg-opacity-20': data.checked,
            }"
            class="mt-3 md:mt-0 w-36 h-14 shadow-inner rounded-full bg-gray-100 relative cursor-pointer duration-200"
          >
            <span
              :class="{
                'bg-accent right-2': data.checked,
                'right-20 mr-2': !data.checked,
              }"
              class="w-12 h-12 shadow-md bg-gray-400 rounded-full absolute top-1/2 transform -translate-y-1/2 duration-200"
            >
            </span>
          </button>
        </div>
      </div>
      <button 
      @click="book" 
       class="rounded-lg px-5 py-3 text-2xl mt-8 text-white"
      :class="{'bg-green-600 pointer-events-none': buttonText != 'Proceed Further', 'bg-accent': buttonText != 'Succeed'}"
      
       >{{buttonText}} </button>
      <span class="w-10/12 md:w-3/4 mt-3 text-center text-lg">By clicking on this button, You'll recieve a confirmation email to check if your email is valid. It'll expire in 24 hours</span>
    </div>

    <!-- MAIN CONTENT -->

    <div class="w-full md:w-1/2">
      <h1 class="text-primary">
        Book a Consultation and <br />
        <span class="font-dilan text-accent">Transform your Life</span>
      </h1>
      <h4 class="text-xl text-dark">We're happy to help you</h4>

      <form @submit.prevent="" action="" class="mt-8 w-full">
        <div class="form-field">
          <label for="name">Name </label><br />
          <input
            :class="{ error: $v.form.name.$invalid && form.name != null }"
            v-model="form.name"
            type="text"
            placeholder="John Doe"
            id="name"
          />
        </div>
        <div class="form-field">
          <label for="email">Email address</label><br />
          <input
            :class="{ error: $v.form.email.$invalid && form.email != null }"
            v-model="form.email"
            type="email"
            placeholder="johndoe2@gmail.com"
            id="email"
          />

          <span
            v-if="!$v.form.email.email && form.email != null"
            class="text-red-600 mt-4 pt-2"
            >Enter a valid email</span
          >
        </div>
        <div class="form-field">
          <label for="phone"
            >Phone number
            <span class="text-gray-600">( Whatsapp preferred )</span></label
          ><br />
          <input
            :class="{ error: $v.form.phone.$invalid && form.phone != null }"
            v-model="form.phone"
            type="tel"
            placeholder="+91-8975964835"
            id="phone"
          />
          <span
            v-if="!$v.form.phone.numeric && form.phone != null"
            class="text-red-600 mt-4 pt-2"
            >Phone number must be a valid number</span
          >
        </div>

        <div class="w-full lg:w-8/12">
          <div v-if="selectedTherapist == null">
            <button
              @click="selectTherapist"
              class="bg-accent px-5 py-2 text-lg text-white rounded-lg"
            >
              Select Therapist
            </button>

            <p class="mb-2 mt-2 text-gray-600">
              You'll be headed to therapist page where you can select the
              therapist for your needs
            </p>
          </div>
          <div v-else class="w-full">
            <!-- {{selectedTherapist}} -->
            <div class="flex justify-between">
              <div class="w-2/3">
                <h2 class="text-2xl font-medium">
                  {{ selectedTherapist.name }}
                </h2>
                <div class="flex text-base w-full">
                  <div class="mr-6 flex">
                    <img
                      class="w-4 h-4 mt-1 mr-2"
                      src="~/assets/static/date-icon.svg"
                      alt=""
                    />
                    <span>
                      <span
                        >{{ selectedTherapist.selectedDate | dateFilter }}
                      </span>
                      <div>( {{ selectedTherapist.selectedDay }} )</div>
                    </span>
                  </div>
                  <div class="flex">
                    <img
                      class="w-4 h-4 mt-1 mr-2"
                      src="~/assets/static/time-icon.svg"
                      alt=""
                    />
                    <span
                      >{{ selectedTherapist.selectedTime }}
                      {{ selectedTherapist.selectedTime | timeFilter }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="w-">
                <img
                  class="w-20 h-20 object-cover rounded-full"
                  :src="selectedTherapist.image"
                  alt=""
                />
              </div>
            </div>

            <button
              @click="selectTherapist"
              class="bg-accent mt-4 px-5 py-2 mb-3 text-lg text-white rounded-lg relative z-40"
            >
              Change Therapist
            </button>
          </div>
        </div>

        <div class="form-field">
          <label for="msg">Message</label><br />
          <textarea
            v-model="form.message"
            name="msg"
            id="msg"
            cols="30"
            rows="10"
            placeholder="You have a message for us ?"
          ></textarea>
        </div>

        <button
          @click="showPopup = true"
          :class="{
            'opacity-70 select-none cursor-not-allowed pointer-events-none':
              $v.form.$invalid,
          }"
          class="button-style text-2xl w-full sm:w-1/2 my-7"
        >
          Book Now
        </button>
      </form>
    </div>
    <div class="small-none z-40 sticky w-1/2 h-80v top-14">
      <img
        class="h-full w-full object-cover"
        src="~/assets/static/book-consulting-img.jpg"
        alt=""
      />
    </div>
  </div>
</template>

<script>
import { required, minLength, numeric, email } from "vuelidate/lib/validators";

export default {
  name: "Contact",
  data() {
    return {
      selectedTherapist: null,
      form: {
        name: "",
        email: "",
        phone: "",
        message: "",
      },
      popupMsgs: [
        {
          heading: "Are you willing to try 10-mins free session ?",
          subheading: "Why free session ? You'll get a chance to know if the therapy works best for you or not. You can move on to paid therapy later.",
          checked: true,
        },
        {
          heading: "Are you willing to subscribe to our newsletter ?",
          subheading: "By subscribing to our newsletter, You'll get to know and feed your mind with positivity about mindfulness, awareness and many other topics.",
          checked: false,
        },
        {
          heading: "Can we send freebies to your email ?",
          subheading: "Who don't want freebies ?",
          checked: true,
        },
      ],
      therapistError: false,
      alertMsg: "",
      isSucceed: false,
      showPopup: false,
      buttonText: 'Proceed Further',
    };
  },
  validations() {
    return {
      form: {
        name: {
          required,
          minLength: minLength(6),
        },
        phone: {
          required,
          numeric,
          minLength: minLength(10),
        },
        email: {
          required,
          email,
        },
      },
    };
  },
  head(){
    return {
      title: 'Contact',
    }
  },
  watch: {
    therapistError(val) {
      if (val) {
        setTimeout(() => {
          this.therapistError = false;
        }, 5000);
      }
    },
    alertMsg(val) {
      if (val.length > 0) {
        setTimeout(() => {
          this.alertMsg = "";
        }, 2500);
      }
    },
  },
  filters: {
    timeFilter: function (val) {
      return val > 8 && val != 12 ? "AM" : "PM";
    },
    dateFilter: function (val) {
      const selectedDate = new Date(val);
      let month = `0${selectedDate.getMonth()}`.slice(-2);
      let date = `0${selectedDate.getDate()}`.slice(-2);

      return `${date}-${month}-${selectedDate.getFullYear()}`;
    },
  },
  created() {
    if (!process.client) return;
    const selectedTherapist = JSON.parse(
      localStorage.getItem("selected-therapist")
    );
    
    if(new Date(selectedTherapist.selectedDate) < Date.now())
    {
      this.selectedTherapist = null;
    }
    else{
      this.selectedTherapist = selectedTherapist;
    }
    const name = localStorage.getItem("name");
    const email = localStorage.getItem("email");
    const phone = localStorage.getItem("phone");
    const message = localStorage.getItem("message");

    this.form.name = name != (null || "null") ? name : null;
    this.form.email = email != (null || "null") ? email : null;
    this.form.phone = phone != (null || "null") ? phone : null;
    this.form.message = message != (null || "null") ? message : null;
  },
  methods: {
    selectTherapist() {
      localStorage.setItem("name", this.form.name);
      localStorage.setItem("email", this.form.email);
      localStorage.setItem("phone", this.form.phone);
      localStorage.setItem("message", this.form.message);
      this.$router.push({
        name: "therapists",
      });
    },
    async book() {
      if (this.selectedTherapist == null) {
        this.therapistError = true;
        return;
      }
      if (this.$v.form.$invalid || this.buttonText != 'Proceed Further') return;
      console.log("store user");
      this.buttonText = "Proceeding ...";

      try {
        const response = await this.$axios.post("consultations/add", {
          form: this.form,
          extras: {
            freeSession: this.popupMsgs[0].checked,
            newsletter: this.popupMsgs[1].checked,
            freebies: this.popupMsgs[2].checked,
          },
          selectedTherapist: {
            id: this.selectedTherapist.therapist_id,
            name: this.selectedTherapist.name,
            date: this.selectedTherapist.selectedDate,
            time: this.selectedTherapist.selectedTime,
            day: this.selectedTherapist.selectedDay,
            image: this.selectedTherapist.image.replace(
              "/_nuxt/assets/static/therapists/",
              ""
            ),
          },
        });
        console.log(response.data);
        this.alertMsg = response.data.msg;
        this.isSucceed = true;
        this.buttonText = "Succeed";
        setTimeout(() => {
          this.showPopup = false;
        }, 1000);
      } catch (error) {
        this.alertMsg = `Some error happened on our side, You'll recieve a mail in short`;
        this.isSucceed = false;
        this.buttonText = "Proceed Further";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.toggle-container {
  @apply w-36 h-14 bg-gray-100 rounded-full relative duration-200;
  .toggle-switch {
    @apply w-12 h-12 bg-gray-400 rounded-full absolute duration-200;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 2.5rem), -50%);
  }
}

.bg-mildwhite {
  background: #f2f2f2;
}
form {
  .form-field {
    @apply w-full lg:w-8/12 mb-5;
    label {
      @apply text-lg mb-2;
    }
    input,
    textarea {
      outline: none;
      &.error {
        @apply border-red-600;
        animation: shake 0.2s ease-in-out;
      }
      @apply bg-gray-200 border border-black w-full rounded-lg px-5 py-3;
      &::placeholder {
        @apply text-gray-500;
      }
      &:focus {
        @apply border-b-2;
      }
    }
  }
}
.z-1000 {
  z-index: 10000;
}
.z-1500 {
  z-index: 15000;
}

.email-error {
  @apply bg-red-200 text-red-700;
}

.h-80v {
  height: 80vh;
}
.h-95v {
  height: 95vh;
}
.small-none {
  display: none;
}

@media screen and (min-width: 764px) {
  .small-none {
    display: block;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  width: 15px;
  border: 1px solid rgb(218, 208, 208);
  border-radius: 5px;
  // box-shadow: inset 0 0 1.5px 1px rgba($color: #000000, $alpha: 0.6);
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 20px;
  // background: linear-gradient(45deg, rgb(17, 16, 16), black);
  @apply bg-primary;
}

</style>