<template>
  <div class="pt-24 px-5 sm:px-10 pb-10 select-none">
    <h1 class="text-accent mb-8">Frequently Asked Questions</h1>
    <div v-for="(item, index) in faqs" :key="index" class="mb-5">
      <div
        @click="item.isOpen = !item.isOpen"
        class="text-xl sm:text-2xl cursor-pointer border-b pb-5 border-black flex items-center justify-between gap-x-8"
      >
        <h4>{{ item.ques }}</h4>
        <div class="relative bg-accent">
          <div class="w-7 h-0.5 bg-black absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
          <div :class="{
              'rotate-90' : !item.isOpen
          }" class="w-7 h-0.5 duration-150 bg-black absolute top-1/2 left-1/2 transform  -translate-x-1/2 -translate-y-1/2"></div>
        </div>
      </div>
      <transition
        name="scaleUp"
        @enter="enter"
        @after-enter="afterEnter"
        @leave="leave"
      >
        <div v-show="item.isOpen" class="w-full sm:w-2/3 mt-6 origin-top">
          <p class="text-lg lg:text-xl">{{ item.ans }}</p>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      faqs: [
        {
          ques: "What to expect in your first session ?",
          isOpen: false,
          ans:
            "Every individual who is struggling with mental peace wants someone to listen to them. So, the first session involves our specialist (according to your need) listening to you with all the patience and resolving your thoughts. Assessment of your moods, problems, emotions and every aspect of your life that you feel low about is done. And then the further steps are discussed.",
        },
        {
          ques: "What exactly does therapy mean ?",
          isOpen: false,
          ans:
            "'Therapy' is basically the process of healing. Just like multiple medicines, multiple therapies are available. It is a journey full of self healing through various mediums. When you are wounded, you take pills to recover or apply the required ointment. Similarly, after the first session, if the need for therapy seems to be present then our specialist informs you about the suitable therapy for your problem.",
        },
        {
          ques: "What all therapies are available at confidous ?",
          isOpen: false,
          ans: "We have numerous therapies to heal you. They include Art therapy, REBT, CBT, MBT and more.",
        },
        {
          ques: "How many sessions are required for my problem ?",
          isOpen: false,
          ans:
            "The number of sessions depends completely on the intensity of your problem. Every counsellor assures lesser sessions and more healing. But on an average, minimum 6 to 8 sessions are required to get cured from the roots completely.",
        },
        {
          ques: "Can I choose my own therapy session & time ?",
          isOpen: false,
          ans:
            "Understanding of different therapies is necessary to choose out of them. Our therapists at Confidous gives you detailed insights of each therapy and its benefits after which you can choose according to your need. And you can discuss the suitable time for you with us as well. ",
        },
      ],
    };
  },
  methods: {
    enter(el) {
      el.style.height = "auto";
      const height = getComputedStyle(el).height;
      el.style.height = 0;
      getComputedStyle(el);
      setTimeout(() => {
        el.style.height = height;
      });
    },
    afterEnter(el) {
      el.style.height = "auto";
    },
    leave(el) {
      el.style.height = getComputedStyle(el).height;

      getComputedStyle(el);

      setTimeout(() => {
        el.style.height = 0;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.scaleUp-enter-active,
.scaleUp-leave-active {
  overflow: hidden;
  transition: height 0.25s ease;
}

// .scaleUp-enter-from,
// .scaleUp-leave-to{
//     height: 0;
// }
</style>