<template>
  <div id="skrollr-body">
    <!-- <div class="fixed top-20 left-16">{{skrollr}} </div> -->
    <section
      data-scroll-section
      class="pt-28 xl:pt-0 xl:pb-10 min-h-screen px-4 relative z-10 md:px-6 lg:px-10 grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 place-items-center gap-x-10 xl:gap-x-16 bg-mildwhite rounded-50 overflow-y-hidden"
    >
      <div
        class="md:col-span-2 xl:col-span-3 mb-6 md:mb-0 xs:w-11/12 md:w-3/4 xl:w-2/3 -mt-4 md:mt-8 md:ml-4 relative"
      >
        <h1
          data-scroll
          data-scroll-speed="1.5"
          class="text-accent md:mb-2 md:text-6xl"
        >
          Become Stress Free In 2021
        </h1>
        <!-- <no-ssr> -->
        <!-- <parallax :speed-factor="0.4"> -->
        <div class="absolute right-0 top-28 z-100 star-icon">
          <img
            class="h-14 w-14 lg:h-20 lg:w-20"
            src="~/assets/static/star-icon.svg"
            alt=""
          />
        </div>
        <!-- </parallax> -->
        <!-- </no-ssr> -->
        <span class="mt-2 mb-6 bg-accent w-28 block h-1"></span>
        <div
          class="text-dark text-lg font-dm-medium md:text-xl lg:text-1.5xl md:w-10/12"
        >
          <p class="mb-2">
            <b>Confidous</b> brings you a team of passionate and empathetic
            people who are always ready to help, heal and nurture anyone in
            need.
          </p>
          <!-- <p>
            We are here to help you overcome your emotional pain while making
            sure you aren’t left with any second thoughts.
          </p> -->
        </div>
        <nuxt-link to="/contact">
          <button
            class="button-style mt-5 mb-4 w-9/12 sm:w-3/5 md:w-4/5 lg:w-3/5 text-2xl"
          >
            Try Free Session Now
          </button>
        </nuxt-link>

        <p class="uppercase text-mildwhite text-xs font-medium tracking-widest">
          WE’RE LOOKING forward TO HAVE YOU
        </p>
      </div>
      <div
        data-scroll-section
        class="md:col-span-1 font-medium text-lg xl:col-span-2"
      >
        <div
          class="px-5 w-10/12 py-3 rounded-lg bg-gradient-to-br from-dark via-green-800 to-green-600 text-mildwhite font-medium"
        >
          <span>Hi, I need help with overcoming my fear</span>
        </div>
        <div
          class="px-6 ml-6 mt-6 relative w-10/12 py-3 rounded-lg bg-gradient-to-br bg-dark text-mildwhite font-medium"
        >
          <span
            class="absolute -top-1 -left-1 bg-accent w-4 h-4 rounded-full animate-pulse"
          ></span>
          <span>Let us help you. All you need to do is fill out the form</span>
        </div>
      </div>

      <div
        data-scroll-section
        class="w-1/2 md:col-span-3 bg- xs:w-8/12 lg:w-10/12 z-40 relative xl:absolute xl:bottom-0 flex items-center justify-center"
      >
        <!-- data-0="transform: scale(0.75) translate(-50%, -50%); transform-origin: center;"
         data-500="transform: scale(1.5) translate(-50%, -50%); transform-origin: center;" -->
        <!-- <div class="bg-secondary  flex items-center justify-center z-40 relative "> -->
        <div
          class="absolute z-20 flex items-center justify-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-36 w-36 xs:h-44 xs:w-44 md:h-48 md:w-48 lg:h-96 lg:w-96"
        >
          <div
            class="absolute blur-back bg-accent origin-center rounded-full"
          ></div>
        </div>

        <img
          class="h-56 xs:h-72 lg:h-80 xl:h-96 w-40 xs:w-52 lg:w-64 xl:w-80 relative -mb-6 origin-bottom z-50"
          src="~/assets/static/hero-img-chair.png"
          alt="chair"
        />
        <div class="w-full absolute bottom-0 h-0.5 bg-secondary"></div>
      </div>
    </section>

    <section2 />

    <services />

    <section class="bg-dark h-80v py-5 flex flex-col items-center">
      <div class="mx-5 flex flex-col md:items-center">
        <h1 class="text-mildwhite text-4xl md:text-5xl">
          How are we <span class="text-accent font-dilan">DIFFERENT</span>
        </h1>
        <p class="uppercase text-mildwhite text-sm font-medium tracking-widest">
          WE’RE glad that you asked
        </p>
      </div>
      <div class="ml-8 mt-8 text-green lg:flex lg:-mb-16">
        <div class="diff-container">
          <img
            src="~/assets/static/like-icon.png"
            class="mb-3"
            alt="customer count"
          />
          <div class="font-dilan text-xl mb-3">
            <h2>1000 +</h2>
            <h4>Satisfied customers</h4>
          </div>
          <p>
            Click to witness our stories of hope. Our motive of helping people
            while understanding their concern reflected beautifully till now as
            we bring you the top rated counsellors at an extremely affordable
            and a reasonable price.
          </p>
        </div>
        <div class="diff-container">
          <img
            src="~/assets/static/mind-map-icon.png"
            class="mb-3"
            alt="mind therapy"
          />
          <div class="font-dilan text-xl mb-3">
            <h2>Our Own</h2>
            <h4>Mind Therapy</h4>
          </div>
          <p>
            Human mind copes through many different ways. And we at Confidous,
            consider it immensely by knowing every individual's way. We have
            experts in various fields of therapy such as art, mandala, CBT, REBT
            and more. Providing the best for you is our number one priority.
          </p>
        </div>
        <div class="diff-container">
          <img
            src="~/assets/static/best-seller-icon.png"
            class="mb-3"
            alt="best seller batch"
          />
          <div class="font-dilan text-xl mb-3">
            <h2>Some Of World’s</h2>
            <h4>Best Psychologists</h4>
          </div>
          <p>
            Our motive is to provide the best of the best and hence we bring you
            a team of utmost qualified professionals. Kindly go through the
            credentials of our wonderful panel of psychologists and see it
            yourself.
          </p>
        </div>
      </div>
    </section>

    <counsellors />

    <testimonials />

    <section
      class="bg-dark text-mildwhite -mt-6 px-5 py-10 flex flex-col justify-center items-center"
    >
      <!-- <p class="text-1.5xl md text-3xl">You can <b>confide in us</b> anytime while becoming completely stress free.</p> -->
      <h1 class="text-3xl md:text-4xl lg:text-5xl">Let's Connect</h1>

      <nuxt-link
        to="/contact"
        tag="button"
        class="button-style w-2/3 md:w-1/2 lg:w-1/4 mt-5 mb-4 text-2xl"
      >
        <!-- <button class=""> -->
        Fill Out the Form
        <!-- </button> -->
      </nuxt-link>
    </section>
  </div>
</template>

<script>
import { gsap, Power0 } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

import Testimonials from "~/components/Testimonials.vue";
import Section2 from "~/components/Section2.vue";
import Counsellors from "~/components/Counsellors.vue";
import Services from "~/components/Services.vue";
export default {
  components: {
    Testimonials,
    Section2,
    Counsellors,
    Services,
  },
  data() {
    return {
      skrollr: null,
    };
  },
  mounted() {
    if (process.client) {
      gsap.registerPlugin(ScrollTrigger);
      gsap.set(".star-icon", {
        y: "20px",
      });
      document.addEventListener("scroll", (e) => {
        console.log(e);
        console.log(document.body.clientTop);
        console.log(window.scrollY);
        gsap.to(".star-icon", {
          y: `-${window.scrollY}px`,
          duration: 0.02,
          ease: Power0.easeIn,
        });
        let percentageOfWandH =
          window.scrollY / 3.5 < 200 ? window.scrollY / 3.5 : 200;
        gsap.to(".blur-back", {
          width: `${percentageOfWandH}%`,
          height: `${percentageOfWandH}%`,
          duration: 0.02,
          ease: Power0.easeInOut,
        });
      });
      //  gsap.to(".star-icon", {
      //   // x: () => -(document.querySelector('.to-lg-none').scrollWidth - document.documentElement.clientWidth) + 'px',
      //   y: "-250px",
      //   ease: Power0.easeIn,
      //   scrollTrigger: {
      //     trigger: ".star-icon",
      //     scrub: true,
      //     markers: true,
      //   },
      // });
    }
  },

  head() {
    return {
      title: "Home",

    };
  },
};
</script>

<style lang="scss" scoped>
.rounded-50 {
  border-radius: 100px;
  @apply rounded-t-none;
}
.button-style {
  @apply py-2 md:py-3 md:text-3xl;
}
.z-100 {
  z-index: 1000;
}

.diff-container {
  @apply bg-mildwhite border border-black px-6 py-7 lg:w-1/3;
  div {
    h2,
    h4 {
      font-family: Rubik;
    }
  }
}
</style>