<template>
  <div class="pt-24 pb-10 px-5 md:px-8 lg:px-12 xl:px-16">
    <div
      v-if="selectDate"
      @click="selectDate = false"
      class="fixed z-40 top-0 left-0 w-full h-screen bg-black bg-opacity-30"
    ></div>
    <div
      v-if="selectDate"
      class="fixed p-8 z-50 top-1/2 left-1/2 w-9/12 transform -translate-x-1/2 -translate-y-1/2 bg-white"
    >
      <div class="form sm:w-1/3">
        <label for="">Date</label>
        <no-ssr>
          <date-picker
            class="datepicker select-none"
            @focusin.native="onFocus"
            ref="datepicker"
            :disabled-dates="disabledDates"
            placeholder="MM/DD/YYYY"
            format="MM/dd/yyyy"
            v-model="selectedDate"
          />
        </no-ssr>

        <div class="mt-2">
          <label for="Time">Time</label><br />
          <select class="select-none" v-model="selectedTime" name="" id="time">
            <option
              v-for="val in selectedTherapist.available_time"
              :key="val"
              :value="val"
            >
              {{ val }} {{ val > 8 && val != 12 ? "AM" : "PM" }}
            </option>
          </select>
        </div>
        <button
          @click="storeTherapist(selectedTherapist)"
          class="bg-accent rounded-lg text-white mt-4 px-5 py-2 text-lg"
        >
          Select
        </button>
      </div>
    </div>

    <h1>Let's find a therapist who suits your need</h1>

    <div class="form md:grid md:w-full gap-y-4 mb-5 mt-3 items-end">
      <!-- <div class="w-full search">
        <label for="search"
          >Search <span class="text-gray-400">( Optional )</span>
        </label>
        <input
          type="text"
          v-model="search"
          id="search"
          placeholder="Search for a therapy"
        />
      </div> -->
      <div class="flex w-full exp items-end gap-x-4">
        <div class="w-1/2">
          <label for="experience">Minimum Experience</label>
          <select
            v-model="experience"
            class="appearance-none"
            name=""
            id="experience"
          >
            <option v-for="val in 4" :key="val" :value="val">{{ val }}</option>
          </select>
        </div>
        <div class="w-1/2">
          <label for="clients">Clients Handled</label>
          <input v-model="clients" type="number" name="" id="clients" />
        </div>
      </div>
      <div class="flex w-full datetime gap-x-6">
        <div class="w-1/2 inner">
          <label for="date"
            >Date
            <span v-if="day.length > 0" class="text-gray-600"
              >({{ day }})</span
            > </label
          ><br />
          <input @change="showDay" v-model="date" type="date" />
        </div>
        <div class="w-1/2 inner">
          <label for="Time">Time</label><br />
          <select v-model="availTime" name="" id="time">
            <option v-for="val in timeValues" :key="val" :value="val">
              {{ val }} {{ val > 8 && val != 12 ? "AM" : "PM" }}
            </option>
          </select>
        </div>
      </div>
      <div
        class="flex buttons md:flex-col mt-4 md:mt-0 md:px-10 md:justify-evenly h-full gap-x-4"
      >
        <button
          @click="filterTherapists"
          :class="{ 'opacity-40 cursor-not-allowed': day.length < 1 }"
          class="bg-accent text-white px-7 py-3 text-lg rounded-lg"
        >
          Search
        </button>
        <button
          :class="{ 'opacity-40 cursor-not-allowed': day.length < 1 }"
          class="border border-accent text-accent px-7 py-3 text-lg rounded-lg"
        >
          Reset
        </button>
      </div>
    </div>
    <!-- {{ therapists }} -->

    <div v-if="fetchError" class="bg-red-100 text-red-600 p-5">
      <h4 class="text-2xl font-dilan font-semibold">It's Not You, It's US</h4>
      <p class="text-lg md:w-1/2 text-black opacity-70">
        We can't find what you're searching for. Don't worry we got you covered.
        Maybe you're also interested in the services mentioned below
      </p>
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 mt-6 gap-x-14 gap-y-6">
      <div
        class="w-full mb-8 sm:mb-0"
        v-for="therapist in therapists"
        :key="therapist.id"
      >
        <div
          :style="{
            background: 'url(' + therapist.image + ') no-repeat',
            'background-size': 'cover',
          }"
          class="h-86 relative bg-img"
        >
          <div
            class="absolute h-28 w-full bottom-0 left-0 bg-gradient-to-t from-black to-transparent opacity-90"
          ></div>
          <h3 class="text-white absolute bottom-3 left-5 text-2xl font-medium">
            {{ therapist.name }}
          </h3>

          <div
            class="flex gap-x-1 bg-mildwhite items-center text-dark px-2 py-1 rounded-full absolute top-3 left-5"
          >
            <span>
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
            </span>
            <span class="text-sm">{{ availableFilter(therapist) }} </span>
          </div>
          <!-- <img
            class="object-cover  h-full w-full"
            :src="therapist.image"
            alt=""
          /> -->
        </div>
        <div class="min-h-56 flex flex-col justify-between">
          <!-- <div v-if="$fetchState.pending">Fetching therapists ........</div> -->
          <div>
            <p class="text-lg mt-3">{{ therapist.specialization }}</p>

            <div class="flex gap-x-4 gap-y-2 flex-wrap mt-2 mb-4">
              <span
                class="bg-accent bg-opacity-25 text-sm text-accent px-4 py-1 rounded-full"
                v-for="item in therapist.availability"
                :key="item.id"
              >
                {{ item }}
              </span>
            </div>
          </div>

          <button
            @click="selectTherapist(therapist)"
            class="bg-secondary rounded-lg text-dark font-semimedium px-5 py-3 mt-3"
          >
            Select Counsellor
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectDate: false,
      selectedTherapist: null,
      selectedTime: null,
      selectedDate: new Date(),
      disabledDates: {
        to: new Date(Date.now() - 8640000),
        days: [],
      },
      therapists: [],
      experience: 1,
      clients: 1,
      timeValues: [10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8],
      fetchError: false,
      search: "",
      days: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ],
      date: null,
      day: "",
      availTime: 10,
    };
  },

  async asyncData() {
    try {
      // const response = await $axios.get("therapists/");
      // const therapists =  this.getStaticImages(response.data);
      const response = await fetch(
        // "http://localhost:4000/api/therapists/"
        "https://confidous.herokuapp.com/api/therapists/"
      ).then((res) => res.json());

      response.forEach((details) => {
        details.image = require("~/assets/static/therapists/" + details.image);
      });

      return { therapists: response };
    } catch (error) {
      throw error;
    }
  },

  watch: {
    fetchError(val) {
      if (val) {
        setTimeout(() => {
          this.fetchError = false;
        }, 50000);
      }
    },
    clients(val) {
      if (val <= 0) {
        this.clients = 1;
      }
    },
  },
  computed: {
    availableFilter() {
      return (therapist) =>
        (therapist.available_from > 7 && therapist.available_from != 12
          ? `${therapist.available_from} AM`
          : `${therapist.available_from} PM`) +
        " - " +
        therapist.available_to +
        " PM";
    },
  },
  methods: {
    async getAllTherapists() {
      const response = await this.$axios.get("therapists/");
      const therapists = this.getStaticImages(response.data);

      return therapists;
    },
    getStaticImages(data) {
      data.forEach((details) => {
        details.image = require("~/assets/static/therapists/" + details.image);
      });

      return data;
    },
    async filterTherapists() {
      let queryParams = {
        experience: this.experience,
        clients_handled: this.clients,
        available_from: this.availTime,
      };

      if (!this.day.length > 0) {
        return;
      }
      queryParams.day = this.day.toLowerCase();

      try {
        const response = await this.$axios.get(`therapists/filterby`, {
          params: queryParams,
        });
        console.log(response);
        if (response.data.therapists.length > 0) {
          const therapists = this.getStaticImages(response.data.therapists);
          this.therapists = therapists;
          this.fetchError = response.data.err;
        }
      } catch (error) {
        console.log(error);
        this.fetchError = true;
      }
    },
    selectTherapist(therapist) {
      this.disabledDates.days = [];
      therapist.available_time = [];
      for (var i = therapist.available_from; i <= therapist.available_to; i++) {
        therapist.available_time.push(i);
      }
      if (!therapist.sunday) this.disabledDates.days.push(0);
      if (!therapist.monday) this.disabledDates.days.push(1);
      if (!therapist.tuesday) this.disabledDates.days.push(2);
      if (!therapist.wednesday) this.disabledDates.days.push(3);
      if (!therapist.thursday) this.disabledDates.days.push(4);
      if (!therapist.friday) this.disabledDates.days.push(5);
      if (!therapist.saturday) this.disabledDates.days.push(6);
      const today = new Date();

      let j = 0;
      let time = therapist.available_to;
      if (time < 10) {
        time += 12;
      }
      console.log(time);
      if (time < today.getHours()) {
        console.log("next day");
        today.setDate(today.getDate() + 1);
        this.disabledDates.to = new Date();
      }

      if (this.disabledDates.days.includes(today.getDay())) {
        for (var i = today.getDay() + 1; i <= 6; i++) {
          console.log(this.disabledDates.days.includes(i));
          j += 1;
          if (!this.disabledDates.days.includes(i)) {
            console.log(i, j);
            // const newDate = new Date(Date.now() + 8640000 * j);
            // console.log(newDate);
            today.setDate(today.getDate() + j);

            break;
          }
        }
      }

      this.selectedDate = today;
      this.selectDate = true;
      this.selectedTime = therapist.available_from;
      this.selectedTherapist = therapist;
      setTimeout(() => {
        const input = document.querySelector(
          "div.vdp-datepicker.datepicker > div:nth-child(1) > input[type=text]"
        );

        input.classList.add("py-3");
        input.classList.add("px-5");
        input.classList.add("border");
        input.classList.add("border-black");
        input.classList.add("rounded-lg");
        input.classList.add("bg-gray-200");
        input.classList.add("w-full");
        input.style.outline = "none";
        input.classList.remove("border-b-2");
        input.addEventListener("blur", () => {
          input.classList.add("border-b-2");
        });
        this.$refs.datepicker.showCalendar();
      }, 150);
      // console.log(therapist);
    },
    onFocus(ev) {
      console.log(ev);
      console.log(this.$refs.datepicker);
      this.$refs.datepicker.showCalendar(ev);
    },
    showDay(date) {
      console.log(date.target.value);
      const d = new Date(date.target.value);
      this.day = this.days[d.getDay()];
    },
    storeTherapist(selectedTherapist) {
      selectedTherapist.selectedDate = this.selectedDate;
      selectedTherapist.selectedTime = this.selectedTime;

      selectedTherapist.selectedDay = this.days[this.selectedDate.getDay()];
      localStorage.setItem(
        "selected-therapist",
        JSON.stringify(selectedTherapist)
      );
      console.log(selectedTherapist);
      this.$router.push({
        name: "contact",
      });
    },
  },
};
</script>

<style lang="scss" scoped>
// .vdp-datepicker{
//   @apply bg-white relative shadow-md;
//   &__calendar{
//     .cell{
//       &:not(.month):not(.year){
//         @apply rounded-full;
//       }
//       .day:hover{
//       @apply text-accent border-accent border;
//     }
//     }
//   }
// }

.font-semimedium {
  font-weight: 500;
}
.form {
  div {
    label {
      @apply text-lg;
    }
    input,
    textarea,
    .datepicker,
    select {
      outline: none;
      @apply bg-gray-200 border border-black w-full rounded-lg px-5 py-3 mb-3 md:mb-0;
      &::placeholder {
        @apply text-gray-500;
      }
      &:focus {
        @apply border-b-2;
      }
    }
  }
}
.h-86 {
  height: 18rem;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.search {
  grid-area: s;
}
.exp {
  grid-area: e;
}
.datetime {
  grid-area: dt;
}
.buttons {
  grid-area: b;
}

@media screen and (min-width: 500px) {
  .h-86 {
    height: 22rem;
  }
}

@media screen and (min-width: 760px) {
  .form {
    grid-template-columns: repeat(3, 33%);

    grid-template-areas:
      "s s s"
      "e e b"
      "dt dt b";
  }
}

@media screen and (min-width: 1024px) {
  .form {
    grid-template-columns: repeat(3, 33%);
    grid-template-areas:
      "s s b"
      "e e b"
      "dt dt b";
  }
}

.min-h-25 {
  min-height: 25vh;
}
.min-h-56 {
  min-height: 0;
}
@media screen and (min-width: 620px) {
  .min-h-56{
    min-height: 22rem;
  }
}
@media screen and (min-width: 1280px) {
  .min-h-56{
    min-height: 16rem;
  }
}
</style>
